@use "../abstracts" as *;

.rating {
  display: flex;
  flex-direction: column;
  gap: clamp($size-6, -4.318rem + 21.622vw, $size-8);

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li.circle-element {
      width: 15%;
      color: $color-neutral-400;
      background-color: $color-neutral-700;
      font-weight: $font-weight-bold;
      cursor: pointer;

      transition: 275ms ease;

      &:is(:hover, :focus) {
        background-color: $color-primary-400;
        color: $color-neutral-000;
      }

      &[aria-selected="true"] {
        background-color: $color-neutral-400;
        color: $color-neutral-000;
      }

      > * {
        margin: auto;
      }
    }
  }
}
